.footer-container {
  height: 44px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    .icon {
      flex: 1 1 auto;
      width: calc(100% / 4);
      display: flex;
      justify-content: center;
    }
  }
}